html {
    scroll-behavior: smooth;
  }
  
body { 
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/image/Durham-Castle-cropped.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100vw 100vh;
  }

#top-nav{

}

.big-title{
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    margin: 40vh auto;
}

.main-menu{
    margin: 0;
    padding: 20px;
    font-size: 70px;
    font-weight: 300;
}

.card-text{
  min-height: 80px;
}